@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.button{
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
}

.none { 
    display: none
}
.fullbioactive {
    display: block;
}

.box {
    position: relative;
    /* background-color: #fff; */
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.box::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5rem;
    box-shadow: 1rem 25px 30px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.box:hover {
    transform: scale(1.2, 1.2);
}

  /* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
    opacity: 1;
}

#collection-component-1610576218932 {
    /* width: 70%; */
    /* padding-right: 30%; */
    /* padding: 2rem;
    margin-top: 5rem; */
    background: rgb(255,248,248);
    background: linear-gradient(0deg, rgba(255,248,248,1) 50%, rgba(51,51,51,1) 100%);
}

.type3{
    color: #93e9be;
}
.type3::after,.type3::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.type3::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: mediumpurple;
    border-right-color: mediumpurple;
}

.type3::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: mediumpurple;
    border-left-color: mediumpurple;
}

.type3:hover:after,.type3:hover:before{
    border-bottom-color: mediumpurple;
    border-right-color: mediumpurple;
    border-top-color: mediumpurple;
    border-left-color: mediumpurple;
    width: 100%;
    height: 100%;
}
.type3:focus{
    border: none
}
/* //////////////////////// */
.type4{
    color: #93e9be;
}
.type4::after,.type4::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.type4::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
}

.type4::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-color: black;
}

.type4:hover:after,.type4:hover:before{
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: black;
    border-left-color: black;
    width: 100%;
    height: 100%;
}
.type4:focus{
    /* border: none !important; */
    outline: none !important
}
/* ////////////////////////////////////////// */

.type2{
    color: #93e9be;
}
.type2::after,.type2::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.type2::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #93e9be;
    border-right-color: #93e9be;
}

.type2::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #93e9be;
    border-left-color: #93e9be;
}

.type2:hover:after,.type2:hover:before{
    border-bottom-color: #93e9be;
    border-right-color: #93e9be;
    border-top-color: #93e9be;
    border-left-color: #93e9be;
    width: 100%;
    height: 100%;
}
.type2:focus{
    border: none
}


.gradi {
    background: #333333;
    background: linear-gradient(0deg, #333333 59%, rgba(0,0,0,1) 100%);
    border-top: 7px double mediumpurple;
    padding-top: 3rem;
    padding-left: 5rem
}


.title{
    display: flex;
    text-align: center;
}

.header{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainlogo{
    max-width: 150px;
    margin: auto 1.5rem
}
.mainlogo2{
    max-width: 75px;
    margin: auto 1.5rem
}

.logo{
    max-width: 150px;
    margin: .5rem 3rem;
}

.rllogo{
    margin: -3.5rem 3rem
}

.gamelogo{
    margin-right: 8rem;
    display: flex;
    align-items: center
}

.nav {
    position: relative;
    text-decoration: none !important;
    color: lightblue;
}

#store {
    font-size: 1.3rem;
}

#join {
    color: mediumpurple;
    font-weight: bold
}

#abtcrew {
    color: white;
    font-size: 1.3rem
}

#listlikes {
    background-color: black;
    display: flex;
    margin: .5rem 0;
    margin-right: 2rem;
}
.sidebarflex{
    min-height: 9rem;
    margin: 1.5rem auto;
    background: black;
    padding: 1rem;
    max-width: 95%;
    border-left: yellow 3px solid;
    border-bottom: yellow 3px solid;
    display: flex;
    justify-content: flex-start;
    align-items:space-around
}
.username {
    color: deeppink;
    margin: 0 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
#username{
    color: deeppink;
    cursor: default !important;
}
.playerusername{
    color: darkslateblue;
    margin: 0 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
#playerusername{
    color: darkslateblue !important;
    font-weight: bold
}
.date{
    color:dodgerblue;
    /* padding-bottom: 1rem; */
    font-size: .85rem
}
.postlink{
    display: flex;
}
.postlink:hover{
    text-decoration: none;
}
.postimage2{
    max-width: 95%;
}
#sidelc{
    color: lime;
    background-color: rgb(17, 15, 15);
    border: 1px solid rgb(17, 15, 15);
}
#sidelc:hover{
    border: 1px solid white
}
.showpost{
    text-align: left
}
.comment{
    margin-bottom: 1.25rem
}
.commentcomment{
    width: 90%;
    margin: 0 auto;
    min-height: 5rem;
}

.tywes {
    color: lightblue !important;
    text-decoration: underline !important;
}

.input{
    width: 15rem;
    margin-bottom: 3.5rem
}
.agentbutton{
    margin-bottom: 2.5rem
}

.fullactivebio{
    display: flex;
}

.section {
    overflow:hidden;
    transition:transform 0.3s ease-out; 
    height:auto;
    transform:scaleY(1); 
    transform-origin:top; 
}
.section.collapsed {
    transform:scaleY(0); 
}
.section.collapsed::after{
    margin-top: -10rem;
}

.section.collapsed::before{
    height: 0
}



.nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1rem;
    left: 0;
    background-color: lightblue;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nonactivebio {
    margin-top: 5rem;
}

.crewmatebuttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#selectornav {
    position: relative;
    margin-top: 1.5rem;
    background-color: black;
    color:mediumpurple;
    border: 3px solid black;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5rem;
}
#selectornav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1rem;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#selector{
    margin-top: 1.5rem;
    background-color: black;
    color:mediumpurple;
    border: 3px solid black;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5rem;
}
#selector:hover{
    border: 3px solid white
}
.code{
    font-family: 'Ubuntu Mono', monospace;
}
.nav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.logoutbutton{
    width: 1.5rem;
    cursor: pointer
}
.rlnav {
    position: relative;
    text-decoration: none;
    color: darkslategray
}

.rlnav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3rem;
    left: 0;
    background-color: darkslategray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
}

.rlnav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.discord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background: rgb(0,41,122);
    background: linear-gradient(0deg, rgba(0,41,122,1) 0%, rgba(245,249,248,1) 21%, rgba(149,58,164,1) 47%, rgba(210,34,183,1) 72%, rgba(253,187,45,1) 90%);
    border-radius: 3rem;
    padding: 1.25rem;
    border: 1rem double white;
}

.helmet{
    width: 100px;
    position: relative;
    left: .5rem
}

::-webkit-scrollbar {
    display: none;
}

.msgdisc{
    font-family: 'Trispace', sans-serif;
    cursor: pointer;
}

.sidebarcontainer{
    width: 25%;
    height: 70vh;
    text-align: center;
    border-radius: 2rem;
    border: 10px double pink;
    position: fixed;
    overflow-y:auto;
    right: 0;
    background-color: black
}

.hd{
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    margin: auto 0
}
.hd2{
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: auto 0
}

a, a:visited, a:hover, a:active {
    color: inherit
}

.sideflex{
    display: flex;
    justify-content: space-between;
}

.sideflex2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.agentflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.agentflex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detailtitle{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    color: black;
}
.imp{
    margin-bottom: 3rem
}
.maincont{
    width: 75%;
}

.datetime{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -1.5rem 0
}

.games{
    margin: 1rem 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    height: 10rem;
    border-radius: 1rem;
}

.schedule{
    color: black;
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    font-weight: bold;
    margin: 17.5px;
}

.spacingExtra {
    margin-top: 10rem;
}

.scheduletitle{
    font-family: 'Orbitron', sans-serif;
}

.light {
    color: #93e9be
}

.dark {
    color: black
}

.lineup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
    font-family: 'Rajdhani', sans-serif;
}
.lineup2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10rem 0;
    font-family: 'Rajdhani', sans-serif;
}

.footer {
    display: flex;
}
.footerContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    align-items: space-between;
    margin: 3rem;
}
.footerBlock{
    height: 5rem;
    display: flex;
    margin: 3rem;

}

.name{
    text-decoration: none !important;
    font-size: 1.65rem;
    /* font-weight: bold; */
    color: white !important;
    text-shadow: -1px -1px 0 black, 1px -1px 0, -1px 1px 0 black, 1px 1px 0 black;
}



.lineuptitle{
    margin: 20rem 5rem 20rem 0;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.2rem
}

.fixbackground {
    /* background: #333333 */
    /* background: rgb(51,51,51);
    background: linear-gradient(0deg, rgba(51,51,51,1) 89%, rgba(255,255,255,1) 97%, rgba(255,248,248,1) 100%); */
}

.players{
    display: flex;
    width: 70%;
    justify-content: space-around
}

.playercont{
    margin: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%
}

.spiffy{
    color: #edaddd;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
}

.maindetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    align-items: space-evenly;
    height:10rem;
}

.maindetails2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.fix{
    margin-top: 2.5rem
}

.playerhead{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem
}

.twitch{
    max-height: 3rem;
    margin: 1.2rem 1rem 1.2rem 3rem;
    cursor: pointer;
}

.youtube{
    max-height: 3rem;
    margin: auto 0;
}

.video{
    margin-top: 5rem;
}

.collection-component-1610576218932.hidden, .hidden{
    display: none !important
}

.collection-component-1610576218932.yes, .yes{
    display: block !important;
}

.green{
    color:green
}

.red{
    color: red
}

.table, .th, .td {
    border-collapse: collapse;
}

.th, .td {
    padding: 50px;
    text-align: center;
}

.agents{
    width: 4rem;
    margin: 1.5rem auto
}

.table {
    border-spacing: 5px;
    margin-top: 5rem;
    max-width: 35%;
    min-width: 35%;
}

.store{
    width: 150px
}

.storediv{
    width: 70%;
    display: flex;
    flex-direction: column;
}