@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.title{
    display: flex;
    text-align: center;
}

.header{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainlogo{
    max-width: 150px;
    margin: 0 1.5rem
}

.logo{
    max-width: 150px;
    margin: 0 3rem;
}

.gamelogo{
    margin-right: 8rem;
    display: flex;
    align-items: center
}

.nav {
    position: relative;
    text-decoration: none;
    color: darkslategray
}

.nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1rem;
    left: 0;
    background-color: darkslategray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.rlnav {
    position: relative;
    text-decoration: none;
    color: darkslategray
}

.rlnav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3rem;
    left: 0;
    background-color: darkslategray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.rlnav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.discord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background: rgb(0,41,122);
    background: linear-gradient(0deg, rgba(0,41,122,1) 0%, rgba(245,249,248,1) 21%, rgba(149,58,164,1) 47%, rgba(210,34,183,1) 72%, rgba(253,187,45,1) 90%);
    border-radius: 3rem;
    padding: 1.25rem;
    border: 1rem double white;
}

.helmet{
    width: 100px;
    position: relative;
    left: .5rem
}

.msgdisc{
    font-family: 'Trispace', sans-serif;
    cursor: pointer;
}

.sidebarcontainer{
    width: 25%;
    height: 70vh;
    text-align: center;
    border-radius: 2rem;
    border: 6px double black
}

.hd{
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: black
}

a, a:visited, a:hover, a:active {
    color: inherit
}

.sideflex{
    display: flex;
    justify-content: space-between;
}

.sideflex2{
    display: flex;
    justify-content: space-around
}

.datetime{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -1.5rem 0
}

.games{
    margin: 1rem 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.schedule{
    color: black;
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    font-weight: bold
}

.scheduletitle{
    font-family: 'Orbitron', sans-serif;
}

.lineup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
    font-family: 'Rajdhani', sans-serif;
}

.name{
    text-decoration: none;
    font-size: 1.5rem
}

.lineuptitle{
    margin: 20rem 5rem;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.2rem
}

.playercont{
    margin: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%
}

.spiffy{
    color: #edaddd;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
}

.playerhead{
    display: flex;
    justify-content: space-evenly;
}

.twitch{
    max-height: 3rem;
    margin: 5rem 2.5rem
}

.youtube{
    max-height: 3rem;
    margin: 5rem 0
}

.hidden{
    display: none
}

.yes{
    display: block
}