@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.title{
    display: flex;
    text-align: center;
}

.header{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainlogo{
    max-width: 150px;
    margin: auto 1.5rem
}
.mainlogo2{
    max-width: 75px;
    margin: auto 1.5rem
}

.logo{
    max-width: 150px;
    margin: .5rem 3rem;
}

.rllogo{
    margin: -3.5rem 3rem
}

.gamelogo{
    margin-right: 8rem;
    display: flex;
    align-items: center
}

.nav {
    position: relative;
    text-decoration: none !important;
    color: darkslategray
}

#listlikes {
    background-color: black;
    display: flex;
    margin-top: .5rem
}
.sidebarflex{
    min-height: 9rem;
    margin: 1.5rem auto;
    background: black;
    padding: 1rem;
    max-width: 95%;
    border-left: yellow 3px solid;
    border-bottom: yellow 3px solid;
    display: flex;
    justify-content:start;
    align-items:space-around
}
.username{
    color: deeppink;
    margin: 0 2rem;
    padding-bottom: 1rem
}
#username{
    color: deeppink;
}
.playerusername{
    color: darkslateblue;
    margin: 0 2rem;
    padding-bottom: 1rem
}
#playerusername{
    color: darkslateblue !important;
    font-weight: bold
}
.date{
    color:dodgerblue;
    padding-bottom: 1rem
}
.postlink{
    display: flex;
}
.postlink:hover{
    text-decoration: none;
}
.postimage2{
    max-width: 85%;
}
#sidelc{
    color: lime;
    background-color: rgb(17, 15, 15);
    border: 1px solid rgb(17, 15, 15);
}
#sidelc:hover{
    border: 1px solid white
}
.showpost{
    text-align: left
}
.comment{
    margin-bottom: 1.25rem
}

.nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1rem;
    left: 0;
    background-color: darkslategray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#selector{
    margin-top: 1.5rem;
    background-color: black;
    color:mediumpurple;
    border: 3px solid black;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5rem;
}
#selector:hover{
    border: 3px solid white
}
.code{
    font-family: 'Ubuntu Mono', monospace;
}
.nav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.rlnav {
    position: relative;
    text-decoration: none;
    color: darkslategray
}

.rlnav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3rem;
    left: 0;
    background-color: darkslategray;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.rlnav:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.discord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    background: rgb(0,41,122);
    background: linear-gradient(0deg, rgba(0,41,122,1) 0%, rgba(245,249,248,1) 21%, rgba(149,58,164,1) 47%, rgba(210,34,183,1) 72%, rgba(253,187,45,1) 90%);
    border-radius: 3rem;
    padding: 1.25rem;
    border: 1rem double white;
}

.helmet{
    width: 100px;
    position: relative;
    left: .5rem
}

::-webkit-scrollbar {
    display: none;
}

.msgdisc{
    font-family: 'Trispace', sans-serif;
    cursor: pointer;
}

.sidebarcontainer{
    width: 25%;
    height: 70vh;
    text-align: center;
    border-radius: 2rem;
    border: 10px double pink;
    position: fixed;
    overflow-y:auto;
    right: 0;
    background-color: black
}

.hd{
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    margin: auto 0
}
.hd2{
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin: auto 0
}

a, a:visited, a:hover, a:active {
    color: inherit
}

.sideflex{
    display: flex;
    justify-content: space-between;
}

.sideflex2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.maincont{
    width: 75%;
}

.datetime{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -1.5rem 0
}

.games{
    margin: 1rem 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    height: 10rem;
    border-radius: 1rem;
}

.schedule{
    color: black;
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    font-weight: bold;
    margin: 17.5px;
}

.scheduletitle{
    font-family: 'Orbitron', sans-serif;
}

.lineup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
    font-family: 'Rajdhani', sans-serif;
}

.footer {
    display: flex;
}
.footerContentDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
    align-items: space-between;
    margin: 3rem;
}
.footerBlock{
    height: 5rem;
    display: flex;
    margin: 3rem;

}

.name{
    text-decoration: none !important;
    font-size: 1.5rem
}

.lineuptitle{
    margin: 20rem 5rem;
    font-family: 'Syncopate', sans-serif;
    font-size: 2.2rem
}

.players{
    display: flex;
    width: 70%;
    justify-content: space-around
}

.playercont{
    margin: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%
}

.spiffy{
    color: #edaddd;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
}

.playerhead{
    display: flex;
    justify-content: space-evenly;
}

.twitch{
    max-height: 3rem;
    margin: auto 2.5rem
}

.youtube{
    max-height: 3rem;
    margin: auto 0;
}

.video{
    margin-top: 5rem;
}

.collection-component-1610576218932.hidden, .hidden{
    display: none !important
}

.collection-component-1610576218932.yes, .yes{
    display: block !important;
}

.green{
    color:green
}

.red{
    color: red
}

.table, .th, .td {
    border-collapse: collapse;
}

.th, .td {
    padding: 50px;
    text-align: center;
}

.agents{
    width: 20%;
}

.table {
    border-spacing: 5px;
    margin-top: 5rem;
    max-width: 35%;
    min-width: 35%;
}

.store{
    width: 150px
}

.storediv{
    width: 70%;
    display: flex;
    flex-direction: column;
}